:root{
    --mainBlue: #465a65;
    --secondBlue: #60717b;
    --thirdBlue: #829097;
    --darkBrown: #635329;
    --firstGrey: #686868;
    --firstGreySub: #222544;
    --seconGrey: #f2f2f2;
    --backgroundGrey: #e6e7ee;
    --thirdGrey: #959595;
}



/* ADMIN DASHBOARD STYLING [=================================================] */

.mainDiv .mainSection .firstSec>nav{
    margin-top: 5px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5px;
    position: relative;
    cursor: pointer;
    /* border: 1px solid red; */
    overflow-x: auto;
}

.mainDiv .mainSection .firstSec>nav>span{
    font-size: small;
    padding: 0px 15px 0px;
    width: auto;
    height: auto;
    display: flex;
    overflow-x: visible;
    /* border: 1px solid grey; */
    /* border-left: 1px solid grey;
    border-right: 1px solid grey; */
}

.mainDiv .mainSection .firstSec>nav>hr{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 14.28%;
    border: 1.5px solid green;
    transition: 0.5s;
}

/* First section inner_section starts ===================*/
.mainDiv .mainSection .firstSec .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    position: relative;
    /* border: 1px solid red; */
}

#betaCon{
    display: none;
}
#gamaCon{
    display: none;
}
#sigmaCon{
    display: none;
}
#zetaCon{
    display: none;
}
#omegaCon{
    display: none;
}
#deltaCon{
    display: none;
}

.mainDiv .mainSection .firstSec .container>hr{
    width: 100%;
    border: 1px solid var(--backgroundGrey);
}

.mainDiv .mainSection .firstSec .container .teamBox{
    width: 30%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
}

/* team leader star icon */
.mainDiv .mainSection .firstSec .container .teamBox>p{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--mainBlue);
    padding-right: 5px;
    padding-top: 5px;
}

.mainDiv .mainSection .firstSec .container .teamBox .imgSec{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow: hidden;
    position: relative;
    /* border: 1px solid red; */
}

.mainDiv .mainSection .firstSec .container .teamBox .imgSec>img{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
}

.mainDiv .mainSection .firstSec .container .teamBox .infoSec{
    margin-bottom: 10px;
}

.mainDiv .mainSection .firstSec .container .teamBox .infoSec>span{
    font-size: small;
}


.mainDiv .mainSection .firstSec .container .teamBox .totalMembers{
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}

.mainDiv .mainSection .firstSec .container .teamBox .disqualify{
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border: 1px solid var(--mainBlue);
    cursor: pointer;
    margin: 5px 0px;
}

.mainDiv .mainSection .firstSec .container .teamBox .download{
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    background-color: var(--mainBlue);
    color: white;
    padding: 5px;
    border: 1px solid var(--mainBlue);
    cursor: pointer;
    margin: 5px 0px;
}

.mainDiv .mainSection .firstSec .container .teamBox .noButton{
    font-size: small;
    background-color: silver;
    color: grey;
    padding: 5px;
    border: 1px solid silver;
    cursor: not-allowed;
    align-self: center;
    margin: 5px 0px;
}

.mainDiv .mainSection .firstSec .container .teamBox .disqualify:hover, .mainDiv .mainSection .firstSec .container .teamBox .download:hover{
    font-size: medium;
}



@media only screen and (max-width: 700px){
    .mainDiv .mainSection .firstSec .container .teamBox{
        width: 45%;
    }
}


@media only screen and (max-width: 480px){
    .mainDiv .mainSection .firstSec>nav>span{
        font-size: smaller;
        padding: 0px 5px 0px;
    }
}


@media only screen and (max-width: 450px){
    .mainDiv .mainSection .firstSec .container .teamBox{
        width: 90%;
    }
}

@media only screen and (max-width: 350px){
    .mainDiv .mainSection .firstSec>nav>span{
        font-size: x-small;
    }
}