*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

@font-face {
    font-family: lily;
    src: url(font/LilyScriptOne-Regular.ttf);
}

:root{
    --mainBlue: #465a65;
    --secondBlue: #60717b;
    --thirdBlue: #829097;
    --darkBrown: #635329;
    --firstGrey: #686868;
    --firstGreySub: #222544;
    --seconGrey: #f2f2f2;
    --backgroundGrey: #e6e7ee;
    --thirdGrey: #959595;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--backgroundGrey);
}

.outside{
    border: 1px solid #d1d9e6; 
    -webkit-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    box-shadow:  3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.inside{
    border: 1px solid #d1d9e6; 
    -webkit-box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff; 
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.mainDiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}


/* Header starts ====================== */
.mainDiv .mainHeader{
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px;
    padding-left: 2%;
    padding-right: 1%;
    background-color: var(--backgroundGrey);
    z-index: 2;
    /* border: 1px solid red; */
    /* background-color: lightblue; */
}

.mainDiv .mainHeader .logoSec{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

/* Hamburger Icon */
.mainDiv .mainHeader .logoSec>span{
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0px 10px;
    padding: 10px;
    font-size: x-large;
    color: var(--mainBlue);
}

.mainDiv .mainHeader .logoSec>section{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv .mainHeader .logoSec>section>section{
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.mainDiv .mainHeader .logoSec>section>section>img{
    width: 100%;
    height: fit-content;
}

.mainDiv .mainHeader .logoSec>section>span{
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainDiv .mainHeader .navSec{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.mainDiv .mainHeader .navSec .searchSec{
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

.mainDiv .mainHeader .navSec .searchSec>h1{
    font-family: lily, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: lighter;
    /* border: 1px solid red; */
}

.mainDiv .mainHeader .navSec .searchSec>input{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    background-color: var(--backgroundGrey);
}

.mainDiv .mainHeader .navSec .searchSec>button{
    width: 10%;
    height: 40px;
    font-size: large;
    border: none;
}

.mainDiv .mainHeader .navSec .iconSec{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* border: 1px solid red; */
}

.mainDiv .mainHeader .navSec .iconSec>a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0px 10px;
    text-decoration: none;
    position: relative;
}

.mainDiv .mainHeader .navSec .iconSec .icon{
    padding: 10px;
    font-size: x-large;
    color: var(--mainBlue);
}

.mainDiv .mainHeader .navSec .iconSec .icon:hover{
    color: white;
    background-color: var(--mainBlue);
}

.mainDiv .mainHeader .navSec .iconSec>a>span{
    position: absolute;
    top: 20%;
    right: 20%;
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    overflow: hidden;
    
}

.mainDiv .mainHeader .navSec .iconSec .profilePic{
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
}

.mainDiv .mainHeader .navSec .iconSec .profilePic>img{
    width: 100%;
    height: fit-content;
    /* border-radius: 50%; */
    position: absolute;
    top: 0;
}
/* Header stops =================== */



/* Left Section starts*/
.mainDiv .leftSection{
    width: 20%;
    height: 50vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundGrey);
    top: 0;
    margin-top: 200px;
    left: 0;
    transition: 1s;
    z-index: 1;
}

.mainDiv .leftSection .menuSec{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.mainDiv .leftSection .menuSec>span{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px;
    margin-bottom: 5px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.mainDiv .leftSection .menuSec>span:hover{
    /* border: 1px solid #d1d9e6;  */
    -webkit-box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff; 
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.mainDiv .leftSection .menuSec>span>a{
    width: 100%;
    height: auto;
    text-align: left;
    text-decoration: none;
    color: var(--mainBlue);
    font-weight: bold;
    padding: 10px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    position: relative;
}

.mainDiv .leftSection .menuSec>span>a .dot{
    position: absolute;
    top: 20%;
    right: 10%;
    background-color: red;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    overflow: hidden;
}

.mainDiv .leftSection .otherSec{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid black; */
}

.mainDiv .leftSection .otherSec>span{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px;
    margin-bottom: 20px;
}

.mainDiv .leftSection .otherSec>span:hover{
    -webkit-box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff; 
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.mainDiv .leftSection .otherSec>span>a{
    width: 100%;
    height: auto;
    text-align: left;
    text-decoration: none;
    color: var(--mainBlue);
    font-weight: bold;
    padding: 10px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}
/* Left Section ends ============================*/


/* Main section starts ===========================*/
.mainDiv .mainSection{
    width: 80%;
    height: auto;
    padding: 0px 10px 0px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 100px;
    transition: 1s;
}

/* General body section settings start*/
.mainDiv .mainSection>section{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
    /* border: 1px solid red; */
}

.mainDiv .mainSection>section .Heading{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.mainDiv .mainSection>section .Heading>h1{
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgba(0, 0, 255, 0.5);
}

.mainDiv .mainSection>section .Heading>hr{
    width: 50%;
    border-color: white;
    border-bottom: 1px solid white;
}
/* General body section settings ends*/
/* Main Section ends */




/* Footer styling */
.mainDiv .mainSection .footer{
    color: var(--mainBlue);
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.info{
    font-size: large;
    font-weight: bolder;
    color: grey;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.removed{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.5);
}

.removed>span{
    padding: 10px 20px 10px;
    background-color: white;
    margin-top: 10px;
    font-size: medium;
    border: 1px solid red;
    cursor: pointer;
}

.removed>span:hover{
    font-size: large;
}





@media only screen and (max-width: 1000px) {
    .mainDiv .leftSection{
        width: 0%;
    }

    .mainDiv .mainSection{
        width: 100%;
    }

    .mainDiv .mainHeader{
        flex-direction: column;
        /* border: 1px solid red; */
        box-shadow: 0px 0px 10px silver;
    }

    .mainDiv .mainHeader .navSec .iconSec{
        display: none;
    }

    .mainDiv .mainHeader .logoSec{
        width: 100%;
    }

    .mainDiv .mainHeader .logoSec>span{
        display: flex;
    }

    .mainDiv .mainHeader .navSec{
        width: 100%;
    }
}


@media only screen and (max-width: 800px){
    .mainDiv .mainHeader .logoSec>section>section{
        width: 50px;
    }

    .mainDiv .mainHeader .logoSec>span{
        font-size: large;
    }

    .mainDiv .mainHeader .navSec .searchSec>h1{
        font-size: x-large;
    }
}

@media only screen and (max-width: 350px){

    .mainDiv .mainHeader .navSec .searchSec>h1{
        font-size: large;
    }

    .mainDiv .mainSection .footer{
        font-size: small;
    }

}

