
:root{
    --mainBlue: #465a65;
    --secondBlue: #60717b;
    --thirdBlue: #829097;
    --darkBrown: #635329;
    --firstGrey: #686868;
    --firstGreySub: #222544;
    --seconGrey: #f2f2f2;
    --backgroundGrey: #e6e7ee;
    --thirdGrey: #959595;
}



/* USER DASHBOARD STYLING [=================================================] */

/* First section inner_section starts ===================*/
.mainDiv .mainSection .firstSec .container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    position: relative;
    /* border: 1px solid red; */
}

.mainDiv .mainSection .firstSec .container .teamBox{
    width: 30%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    /* border: 1px solid red; */
}

/* team leader star icon */
.mainDiv .mainSection .firstSec .container .teamBox>p{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--mainBlue);
    padding-right: 5px;
    padding-top: 5px;
}

.mainDiv .mainSection .firstSec .container .teamBox .imgSec{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow: hidden;
    position: relative;
    /* border: 1px solid red; */
}

.mainDiv .mainSection .firstSec .container .teamBox .imgSec>img{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
}

.mainDiv .mainSection .firstSec .container .teamBox .infoSec{
    margin-bottom: 10px;
}

.mainDiv .mainSection .firstSec .container .teamBox .infoSec>span{
    font-size: small;
}

.mainDiv .mainSection .firstSec .container .teamIcon{
    padding: 10px;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.mainDiv .mainSection .firstSec .container .teamIcon>span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainDiv .mainSection .firstSec .container>hr{
    width: 100%;
    border: 1px solid var(--backgroundGrey);
}
/* First Section inner_section ends =====================*/


/* Second section inner_section starts =================== */
.mainDiv .mainSection .secondSec .container{
    width: 99%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    margin-top: 15px;
    flex-wrap: wrap;
    padding: 5px;
    /* border: 1px solid red; */
}

.mainDiv .mainSection .secondSec .container>h1{
    border-bottom: 2px dashed black;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.mainDiv .mainSection .secondSec .container>p{
    width: 100%;
    height: auto;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
}

.mainDiv .mainSection .secondSec .container>section{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
}

.mainDiv .mainSection .secondSec .container>section>span{
    margin: 5px;
    font-weight: bold;
    color: var(--mainBlue);
}



/* Second section inner_section ends ======================= */









@media only screen and (max-width: 700px){
    .mainDiv .mainSection .firstSec .container .teamBox, .mainDiv .mainSection .firstSec .container .teamIcon{
        width: 45%;
    }
}

@media only screen and (max-width: 450px){
    .mainDiv .mainSection .firstSec .container .teamBox, .mainDiv .mainSection .firstSec .container .teamIcon{
        width: 90%;
    }
}



