:root{
    --mainBlue: #465a65;
    --secondBlue: #60717b;
    --thirdBlue: #829097;
    --darkBrown: #635329;
    --firstGrey: #686868;
    --firstGreySub: #222544;
    --seconGrey: #f2f2f2;
    --backgroundGrey: #e6e7ee;
    --thirdGrey: #959595;
}



/* USER PROFILE STYLING [=================================================] */

/* First section inner_section starts ===================*/
.mainDiv .mainSection .firstSec .container{
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px;
    margin-top: 15px;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 25px;
    position: relative;
}


.mainDiv .mainSection .firstSec .container>h1{
    align-self: center;
    font-size: medium;
    color: brown;
}

.mainDiv .mainSection .firstSec .container>span{
    margin: 5px 0px;
}

.mainDiv .mainSection .firstSec .container>p{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--mainBlue);
    padding-right: 5px;
    padding-top: 5px;
    animation:cool 2s linear infinite;
	animation-direction: normal;
}

.mainDiv .mainSection .firstSec .container .left{
    left: 0;
}


@keyframes cool {
	1% {color: red;}
	15% {color: var(--backgroundGrey);}
	35% {color: orange;}
	55% {color: var(--backgroundGrey);}
	75% {color: blue;}
	95% {color: var(--backgroundGrey);}
	
}

